DB_DATABASE=changeme
DB_PASSWORD=changeme
DB_USER=changeme
DB_HOST=database
DB_PORT=5432

FRONTEND_URL=http://localhost:8081
PROJECT_STATUS=DEV

JWT_SECRET=changeme
JWT_EXPIRATION_HOURS=2

REDIS_HOST=redis
REDIS_PORT=6379

MAIL_API_KEY=your_key
MAIL_BASE_URL=https://api.brevo.com/v3/smtp/email

# Password for fixtures users in DEV mode
FIXTURES_PASSWORD=user

# Root admin user credentials (created automatically if not exists)
ROOT_USERNAME=root
ROOT_PASSWORD=changeme