name: SonarQube

on:
  push:
    branches:
      - main
      - staging

jobs:
  sonarcloud:
    name: SonarCloud analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.organization=luckyshuii
            -Dsonar.projectKey=time_manager
        env:
          SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
