name: SonarCloud

on:
  push:
    # branches:
    #   - main
    #   - staging

jobs:
  sonarcloud:
    name: SonarCloud analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v5
        with:
          args: >
            -Dsonar.organization=luckyshuii
            -Dsonar.projectKey=time_manager
            -Dsonar.host.url=https://sonarcloud.io
        env:
          SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
